@charset "UTF-8";

.content {
	text-align: center;
}
.hidden {
	display: none;
}
.overhidden {
	overflow: hidden;
}
.box {
	display: inline-block;
}
.leftclear{
	clear: left;
}
.rightclear{
	clear: right;
}
.box65 {
	display: inline-block;
	width: 650px;
}


/* max / min */
.mx650 {
	max-width: 650px;
}

.mn600 {
	min-width: 600px;
}

/* margin */
.ml10 {
	margin-left: 10px;
}
.mb5 {
	margin-bottom: 5px;
}

/* padding */
.pd10{
	padding: 10px;
}
.pdl10 {
	padding-left: 10px;
}
.pdl20 {
	padding-left: 20px;
}
.pdr10{
	padding-right: 10px;
}

/* colors s*/
.blue {
	background-color: #2196f3;
}
.green {
	background-color: #4caf50;
}
.pink {
	background-color: #e91e63;
	color: white;
}
.deeporange {
	background-color: #dc4816;
	color: white;
}
.indigo {
	background-color: #000040;
	color: white;
}

/* width */
.w50 {
	width: 50px;
}
.w100 {
	width: 100px;
}
.w135{
	width: 135px;	
}
.w150 {
	width: 150px;
}
.w200 {
	width: 200px;
}
.p50 {
	width: 50%;
}

/* width & height */
.wh100 {
	width: 100px;
	height: 100px;
}

/* about image */
.avtbox {
	width: 148px;
	height: 148px;
	border: 1px solid gray;
}
.avtimg {
	width: 100%;
	height: auto;
}